<mat-toolbar>
  <div class="flexed-p">
  <button mat-icon-button>
    <mat-icon [routerLink]="'/home'" style="vertical-align: sub">arrow_back</mat-icon>
  </button>
  <p>Shopping Cart</p>
  </div>
</mat-toolbar>

<app-card-container [eventData]="(eventData$ | async)!" [isInCart]="true">
</app-card-container>
