<mat-toolbar *ngIf="!(showLoadingIcon$ | async)!">
  <mat-form-field appearance="standard">
    <p class="flexed-p">
      <mat-icon matPrefix class="padding-right-5px">search</mat-icon>
      <input
        type="text"
        matInput
        placeholder="Search..."
        [ngModel]="searchText"
        (ngModelChange)="onInput($event)">
    </p>
  </mat-form-field>
  <span class="spacer"></span>
  <p>Welcome {{(user$ | async)?.name}}</p>
  <button mat-icon-button color="accent">
    <mat-icon
      [matBadge]="eventsInCart$ | async"
      [routerLink]="'/shopping-cart'"
    >shopping_cart
    </mat-icon>
  </button>
</mat-toolbar>

<ng-template [ngIf]="!(showLoadingIcon$ | async)!">
  <app-card-container *ngIf="!searchIsActive" [eventData]="(eventData$ | async)!" [isInCart]="false">
  </app-card-container>

  <app-card-container *ngIf="searchIsActive" [eventData]="(searchResults$ | async)!" [isInCart]="false">
  </app-card-container>
</ng-template>
<ng-template [ngIf]="(showLoadingIcon$ | async)!">
  <div class="spinner">
  <mat-spinner></mat-spinner>
  </div>
</ng-template>

