<div class="container">
  <form [formGroup]="form" (ngSubmit)="onSubmit(form)">
    <div [ngClass]="getContentClass()">
      <h1>Welcome to Events App</h1>
      <mat-form-field>
        <mat-label>E-Mail</mat-label>
        <input
          matInput
          placeholder="max@mustermann.com"
          formControlName="email"
        >
        <mat-error *ngIf="form.controls['email'].errors">{{getErrorMail(form)}}</mat-error>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Password</mat-label>
        <input
          matInput
          type="password"
          formControlName="password"
        >
        <mat-error *ngIf="form.controls['password'].errors">{{getErrorPassword(form)}}</mat-error>
      </mat-form-field>

      <mat-form-field *ngIf="!isLoginMode">
        <mat-label>Name</mat-label>
        <input
          matInput
          type="text"
          formControlName="name"
        >
        <mat-error *ngIf="form.controls['name'].errors">{{getErrorName(form)}}</mat-error>
      </mat-form-field>

      <mat-error *ngIf="errorState$ | async" class="error">{{error$ | async}}</mat-error>

      <div class="button-wrapper">
        <button
          mat-raised-button
          color="accent"
          class="button-with-margin"
          type="reset"
          [disabled]="!form.valid"
          (click)="onSubmit(form)"
        >
          {{isLoginMode ? "Login" : "Signup"}}
        </button>
        <button
          mat-raised-button
          color="accent"
          class="button-with-margin"
          (click)="switchLoginMode(form)"
          type="button">
          {{isLoginMode ? "Switch to Signup" : "Switch to Login"}}
        </button>
      </div>
    </div>
  </form>

</div>
