@use '@angular/material' as mat;
@include mat.core();

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  top: 166%;
}

.content-long {
  @extend .content;
  top: 130%;
}

.button-with-margin {
  margin: 5px;
}

.error {
  margin: 10px;
}

h1 {
  color: map-get(mat.$blue-palette, 800);
}
