@use '@angular/material' as mat;
@include mat.core();

.container {
  display: flex;
}

.sticky {
  position: sticky;
  background-color: white;
  opacity: 0.7;
}

.not-sticky {
  position: relative;
}

.date-header {
  margin-top: 50px;
  margin-bottom: 15px;
  display: flex;
  justify-content: center;
  text-align: left;
  z-index: 1;
  top: 5px;
  color: map-get(mat.$blue-palette, 800);
}
.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.card-header {
  text-align: center;
  width: 70%;
  margin-top: 30px !important;
  display: flex;
  justify-content: center;
  height: 5%;
  color: white;
  font-size: 20px;
}

.card-footer {
  display: flex;
  flex-direction: column;
  width: 240px;
  padding-top: 30px;
}

.event-card {
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 85vh;
  margin: 10px 10px 15px 10px;
  flex: 1 1 32%;
  box-sizing: border-box;
  max-width: 25%;
  padding: 0;
}

.add-to-cart-button {
  display: flex;
  justify-content: flex-start;
}

.location-button {
  width: 20px;
}

.event-image {
  height: 60%;
  width: 100%;
}

.location {
  display: flex;
}
