<div *ngFor="let date of (dates$ | async)!">
  <div class="date-header" [ngClass]="getHeaderClass()" (scroll)="onScroll()">
    <h1>{{date}}</h1>
  </div>
  <div class="card-container" >
    <mat-card *ngFor="let musicEvent of filterEventDataByDate(eventData, date)" class="event-card">
      <!-- Image-->
      <img mat-card-xl-image [src]="musicEvent.flyerFront" alt="flyer" class="event-image">
      <!--Header-->
      <mat-card-subtitle class="card-header">{{musicEvent.title}}</mat-card-subtitle>
      <!--Footer-->
      <mat-card-footer class="card-footer">
        <!--Location icon and location-->
        <div class="location">
          <button mat-icon-button (click)="onLocationClicked(musicEvent.venue.direction)" class="location-button">
            <mat-icon>location_on</mat-icon>
          </button>
          <button mat-button (click)="onLocationClicked(musicEvent.venue.direction)">{{musicEvent.venue.name}}</button>
        </div>

        <p>| Starts: {{musicEvent.startDate}}, {{musicEvent.startTime}}</p>
        <p>| Ends: {{musicEvent.endDate}}, {{musicEvent.endTime}}</p>
        <!--Add to card button-->
        <div class="add-to-cart-button">
        <button mat-raised-button mat-button color="accent" (click)="onClickAddToCart(musicEvent)" *ngIf="!isInCart; else cartView">
          Add to cart
          <mat-icon>shopping_cart</mat-icon>
        </button>
        <ng-template #cartView>
          <button mat-raised-button mat-button color="accent" (click)="onClickRemoveFromCart(musicEvent)" *ngIf="isInCart">
            Remove from cart
            <mat-icon>remove</mat-icon>
          </button>
        </ng-template>
        </div>
    </mat-card-footer>
  </mat-card>
  </div>
</div>
